<h1>Detalhes do pet</h1>

<p>
  <%= @pet.name %>
</p>

<p>
  <%= @pet.breed %>
</p>

<p>
  <%= @pet.age %>
</p>

<p>
  <%= @pet.created_at %>
</p>

<%= link_to "lista de pets", pets_path %>
<%= link_to "editar pet", edit_pet_path %>
